.circular-text {
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    position: relative;
    height: 95px;
    font-weight: bold;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}

.circular-text span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 14px;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}